
<div class="container text-center">
  <h3>In order to continue, please update the redirect URL on Auth settings page of your app</h3>
  <h4>Redirect URL</h4>
  <pre id="redirectURL"><%= redirectUri %></pre>
  <button class="button-primary" id="copyBtn">Copy</button>
  <h3>After that, authorize via OAuth</h3>
  <div class="authorize-button">
    <a class="button" href="/oauth">Authorize</a>
  </div>
</div>

<script type="application/javascript" src="/js/login.js"></script>